[Unit]
Description=BirdBuddy2Flickr
After=network.target

[Service]
User=rabe
Group=rabe
WorkingDirectory=/home/rabe/BirdBuddy2Mastodon/
Environment="PATH=/home/rabe/BirdBuddy2Mastodon/.envMasto/bin/"
ExecStart=/home/rabe/BirdBuddy2Mastodon/.envMasto/bin/python /home/rabe/BirdBuddy2Mastodon/flickrtest.py

[Install]
WantedBy=multi-user.target

